:root {
    --primary: rgb(114, 28, 28);
    --primary-lighter: rgb(178, 41, 41);
    --secondary: rgb(122, 122, 122);
    --light: rgb(245, 226, 204);
    --dark: rgb(0, 0, 0);
    --light2: rgb(176, 180, 176);
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

#searchedMovie {
    max-width: 450px;
    margin: 0px;
    padding:8px;
    border-radius: 32px;
    box-shadow: 0 11px 34px 0 rgb(0 0 0 / 15%);
    min-width: 320px;
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
}

#movie-information {
    max-width: 450px;
    margin: 0px;
    padding: 8px;
    border-radius: 32px;
    box-shadow: 0 11px 34px 0 rgb(0 0 0 / 15%);
    min-width: 320px;
    background-color: var(--light2);
    color: var(--dark);
}

.player {
    padding: 15px;
}

header {
    padding-top: 10px;
}

.btn-primary {
    margin-left: 10px;
    background-color: var(--primary);
    border-radius: 10px;
    border-width: 0;
    border-color: var(--dark);
    color: var(--light);
}

.btn-primary:hover {
    background-color: var(--primary-lighter);
}