:root {
    --primary: rgb(114, 28, 28);
    --secondary: rgb(122, 122, 122);
    --light: rgb(245, 226, 204);
    --dark: rgb(0, 0, 0);
    --light2: rgb(176, 180, 176);
}

.back-btn {
    background-color: blue;
}

#searchedMovie {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: var(--light);
}

#searchInput,
.btn {
    display: flex;
    background-color: var(--light2);
    border-color: var(--dark);
    border-radius: 10px;
    margin: auto;
    height: 35px;
    width: 50%;
    border-width: 2px;
    vertical-align: bottom;
}

#searchInput {
    width: 200px;
    margin-top: 60px;
}
.btn {
    width: 84px;
    margin-top: 10px;
}