:root {
    --primary: rgb(114, 28, 28);
    --secondary: rgb(122, 122, 122);
    --light: rgb(219, 210, 199);
    --dark: rgb(0, 0, 0);
    --light2: rgb(176, 180, 176);
}



.card {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card-header {
    background-color: var(--primary);
    color: var(--light);
    font-size: 50px;
}

.search-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 0px;
    color: var(--secondary);
}

#search-input,
#search-button {
    display: flex;
    background-color: var(--light2);
    border-color: var(--dark);
    border-radius: 10px;
    margin: auto;
    height: 35px;
    width: 50%;
    border-width: 2px;
    vertical-align: bottom;
}

#search-input {
    width: 200px;
    margin-top: 60px;
}
#search-button {
    width: 84px;
    margin-top: 10px;
    margin-bottom: 80px;
}

#search-button:hover {
    background-color: var(--secondary);
}

.recentSearches {
    color: var(--secondary);
    list-style-position: inside;
}

